<a href="https://colab.research.google.com/github/casualraja/Data-Science-Workshop/blob/Exercises/Activity_1_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import packages
import pandas as pd
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter01/Dataset/dataset_44_spambase.csv'

In [4]:
# Load Dataset 
df = pd.read_csv(file_url)
df.head()

   word_freq_make  word_freq_address  ...  capital_run_length_total  class
0            0.00               0.64  ...                       278      1
1            0.21               0.28  ...                      1028      1
2            0.06               0.00  ...                      2259      1
3            0.00               0.00  ...                       191      1
4            0.00               0.00  ...                       191      1

[5 rows x 58 columns]

In [0]:
# define target
target = df.pop('class')

In [6]:
print(target)

0       1
1       1
2       1
3       1
4       1
       ..
4596    0
4597    0
4598    0
4599    0
4600    0
Name: class, Length: 4601, dtype: int64

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
seed = 168

In [0]:
rf_model = RandomForestClassifier(random_state = seed)

In [11]:
rf_model.fit(df, target)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=168,
                       verbose=0, warm_start=False)

In [0]:
preds = rf_model.predict(df)

In [13]:
print(preds)

[1 1 1 ... 0 0 0]

In [0]:
from sklearn.metrics import accuracy_score

In [0]:
acc_score = accuracy_score(target, preds)

In [18]:
print(acc_score)

0.9993479678330798