<a href="https://colab.research.google.com/github/casualraja/Data-Science-Workshop/blob/Exercises/Exercise_6_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing and Splitting Data**
In this exercise we will import data from a repository and split it into a training and an evaluation set to train a model. Splitting your data is required so that you can evaluate the model later.

In [0]:
# Import packages 
import pandas as pd
from sklearn.model_selection import train_test_split

In [0]:
# data doesn't have headers, so let's create headers
_headers =['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']

In [0]:
# Read the Data
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter06/Dataset/car.data', names=_headers, index_col=None)

In [4]:
# Display the Dataset
df.head()

  buying  maint doors persons lug_boot safety    car
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [0]:
# Create a training and an evaluation DataFrame
training, evaluation = train_test_split(df, test_size=0.3, random_state=0)

In [0]:
# Create a validation and test dataset
validation, test = train_test_split(evaluation, test_size=0.5, random_state=0)