<a href="https://colab.research.google.com/github/casualraja/Data-Science-Workshop/blob/Exercises/Exercise_5_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Finding the Closest Centroids in Our Dataset**
In this exercise , we will be coding cluster centriods.

In [0]:
# Import packages
import pandas as pd
from sklearn.cluster import KMeans
import altair as alt

In [0]:
# Load dataset and select the columns
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter05/DataSet/taxstats2015.csv'
df = pd.read_csv(file_url, usecols=['Postcode', 'Average total business income', 'Average total business expenses'])

In [0]:
# Assign columns to a new variable X
X =df[['Average total business income', 'Average total business expenses']]

In [0]:
# Calculate the minimum and maximum values
business_income_min = df['Average total business income'].min()
business_income_max = df['Average total business income'].max()
business_expenses_min =df['Average total business expenses'].min()
business_expenses_max =df['Average total business expenses'].max()

In [39]:
# Print the variable
print(business_income_min)
print(business_income_max)
print(business_expenses_min)
print(business_expenses_max)

0
876324
0
884659

In [0]:
# Import Random package
import random
random.seed(42)

In [0]:
# Create an empty pandas DataFrame
centroids = pd.DataFrame()

In [0]:
# Generate four random values using sample
centroids['Average total business income'] = random.sample(range(business_income_min, business_income_max),4)

In [0]:
# Generate four random values using sample
centroids['Average total business expenses'] = random.sample(range(business_expenses_min, business_expenses_max),4)

In [44]:
# Create a new column called cluster
centroids['cluster'] = centriods.index
centroids

   Average total business income  Average total business expenses  cluster
0                         670487                           288389        0
1                         116739                           256787        1
2                          26225                           234053        2
3                         777572                           146316        3

In [0]:
# Create a scatter plot to display data contained in df 
chart1 = alt.Chart(df.head()).mark_circle().encode(x='Average total business income', y='Average total business expenses', 
color=alt.value('orange'),
tooltip=['Postcode', 'Average total business income', 'Average total business expenses']
).interactive()

In [0]:
# Create a second scatter plot to display the centriods
chart2 = alt.Chart(centroids).mark_circle(size=100).encode(x='Average total business income', y='Average total business expenses', 
color=alt.value('black'),
tooltip=['cluster', 'Average total business income', 'Average total business expenses']
).interactive()

In [47]:
# Display the two charts together
chart1 + chart2

alt.LayerChart(...)

In [0]:
# Define function that will calculate the squared_euclidean distance
def squared_euclidean(data_x, data_y, centroid_x, centroid_y):
  return (data_x - centroid_x)**2 + (data_y - centroid_y)**2

In [0]:
# Using the .at method from pandas package, extract the first row x and y coordinates
data_x = df.at[0, 'Average total business income']
data_y = df.at[0, 'Average total business expenses']

In [53]:
# Calculate the squared_euclidean distance of the first observation against the 4 different centroids
distances = [squared_euclidean(data_x, data_y, centroids.at[i, "Average total business income"],
                              centroids.at[i,"Average total business expenses"]) for i in range(4)]
distances

[215601466600, 10063365460, 34245932020, 326873037866]

In [0]:
# Use the index method from the list containing the squared_euclidean distances to find the cluster with the shortest distance
cluster_index = distances.index(min(distances))

In [0]:
# Save the cluster_index in a column called 'cluster' from df DataFrame
df.at[0,'cluster'] = cluster_index

In [57]:
# Display the first 5 rows of the df
df.head()

   Postcode  ...  cluster
0      2000  ...      1.0
1      2006  ...      NaN
2      2007  ...      NaN
3      2008  ...      NaN
4      2009  ...      NaN

[5 rows x 4 columns]

In [58]:
# Repeat steps for the 4 rows
distances = [squared_euclidean(df.at[1, 'Average total business income'], df.at[1, 'Average total business expenses'], centroids.at[i, 'Average total business income'], centroids.at[i, 'Average total business expenses']) for i in range(4)]
df.at[1, 'cluster'] = distances.index(min(distances))
distances = [squared_euclidean(df.at[2, 'Average total business income'], df.at[2, 'Average total business expenses'], centroids.at[i, 'Average total business income'], centroids.at[i, 'Average total business expenses']) for i in range(4)]
df.at[2, 'cluster'] = distances.index(min(distances))
distances = [squared_euclidean(df.at[3, 'Average total business income'], df.at[3, 'Average total business expenses'], centroids.at[i, 'Average total business income'], centroids.at[i, 'Average total business expenses']) for i in range(4)]
df.at[3, 'cluster'] = distances.index(min(distances))
distances = [squared_euclidean(df.at[4, 'Average total business income'], df.at[4, 'Average total business expenses'], centroids.at[i, 'Average total business income'], centroids.at[i, 'Average total business expenses']) for i in range(4)]
df.at[4, 'cluster'] = distances.index(min(distances))
df.head()

   Postcode  ...  cluster
0      2000  ...      1.0
1      2006  ...      2.0
2      2007  ...      0.0
3      2008  ...      2.0
4      2009  ...      1.0

[5 rows x 4 columns]

In [60]:
# Finally plot the centroids and the first 5 rows of the dataset
chart1 = alt.Chart(df.head()).mark_circle().encode(x='Average total business income', y='Average total business expenses', 
color='cluster:N',
tooltip=['Postcode', 'cluster', 'Average total business income', 'Average total business expenses']
).interactive()
chart2 = alt.Chart(centroids).mark_circle(size=100).encode(x='Average total business income', y='Average total business expenses', 
color=alt.value('black'),
tooltip=['cluster', 'Average total business income', 'Average total business expenses']
).interactive()
chart1 + chart2

alt.LayerChart(...)

The final result, we can see where the four clusters have been placed in the graph and which cluster the five data points have been assigned to:

*   The two data points in the bottom-left corner have been assigned to cluster 2, which corresponds to the one with a centroid of coordinates of 26,000(average total business income) and 234,000 (average total business expense)
*   The two observations in the middle are very clost to the centriod with coordinates of 116,000(average total business income) and 256,000 (average total business expense), which corresponds to cluster 1
*   The observation at the top has been assigned to cluster 0, whose centriod has coordinates of 670,000(average total business income) and 288,000(average total business expense)